*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url(amazon12.jfif);
    background-size: cover;
    height:50px;
    width:100px;
}

.border{
    border: 1.5px solid transparent;
}


.border:hover{
    border: 1.5px solid white;

    /** box2**/
}
.add_1{
    font-size:1rem;
    margin_left:15px;
}

.add_2{
    font-size: 1rem;
}

.add-icon{
display: flex;
align-items: center;
}

/** box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height:40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgb(255, 153, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:

}

/** box 4 **/
span{
    font-size: 0.7rem;
}

.nav_2{
font-size: 0.85rem;
font-weight: 700;

}
/** box 6 **/
.nav-card{
    font-size: 30px;
}

.nav-cart{
font-size: 0.85rem;
font-weight: 700;
display: flex;
}


/** box 7 **/

.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    justify-content:space-evenly;

}
.panel-ops{
    width:70%;
    font-size: 0.85rem;
    display: flex

}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.img1{
    background-image: url("front2.png");
    background-size: cover;
    height: 350px;   
}
.scrolling-text marquee {
    color: #000;
    font-weight: bold;
    background: rgb(158, 157, 157);
    padding-top: 5px;
    padding-bottom:5px;
    margin-top: none;
}
.box
{
    border:2px solid black;
   height:390px;
  width:22%;   
  background-color:rgb(217, 237, 248);
  padding: 20px 0px 15px ;
  box-shadow: -5px 4px 10px 2px #333333;
  border: 0.5px solid #737373;
  border-radius: 5px;
}


.box:hover{
    transition: 1.5s;
    background-color:white;
}
.shpo-box{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(211, 207, 207)
    

}

.img3{
    height: 320px;
    width: 250px;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    background-size: cover;
}
.box-content{
    margin-left: 10px;
    margin-right:10px ;
}
.text{
    color: blue;
}

/** footer**/

footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
justify-content: space-evenly;
}
ul{
    margin-top: 10px;

}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    background-image: url(amazon11.png);
    background-size: cover;
    height:50px;
    width:100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
    text-align: center;
}


/** menu **/

.menu-card{
    background-color:white;
    width:260px;
    padding:20px;
    margin:20px;
    border-radius: 10px;
    box-shadow: -5px 5px 10px 2px #333333;
    border: 0.5px solid #737373;
    
}

.menu-icon{
    height:210px;
    width:200px;
    display: block;
    margin:10px auto;
}
.menu-title{
    margin-bottom:10px;
    padding:0;
    font-size: 30px;
    font-family: Copse;
    color: #272343;
}
.menu-discription{
    font-size:20px;
    font-family: EB Garamond;
    margin-top: 0px;
    color:rgb(2, 2, 94);
}
.menu-btn{
    background-color:rgb(149, 187, 243);
    color: black;
    border-radius:10px;
    padding:7px 7px;
    margin:0px 70px;
    margin-bottom:none;
    margin-top:10px ;
    font-size:15px;
    font-size: 15px;
}
.menu-btn:hover{
    border:1px solid black 5px;
    background-color: whitesmoke;
    border-radius:black solid 10px;
 
    transition: 1.5s;
}
.menu-card:hover{
    box-shadow: -4px 4px 10px 2px rgb(32, 32, 65);
    transition: 1.5s;
    background-color:#e3f6f5;
}
.card-container{
    display:flex;
    justify-content:space-evenly;
}
.text6{
    font-family: dancing script;
    color:#001858;
}
.text-3{
    font-size: 20px;
}

.text-center1{
    text-align: center;
}


/**heading scroll **/

.heading1{
    font-size: 30px;
    color:#272343;
    font-family: Copse;
    font-size: 40px;
}

   /** box-4 **/

   .img-tiger2{
    height: 150px;
    border-radius: 50%;
    
     }
.img-tiger2:hover {
    border-radius: 20px;
    transition: 2s;
    margin-left: 30px;
     }

    /** box-5 circle card**/
    .img-tiger{
        height: 200px;
        border-radius: 100%;
        display: flex;
        flex-direction: row;
        background-color:white;
         margin: 2pxpx;
        padding: 0px;
         }
    .img-tiger:hover {
        border-radius:100%;
        transition: 2s;
        margin-left:40px;
        margin-bottom: 20px;
         }





























































<div class="scrolling-text">
        <marquee>Welcome to My Amazon!shop now freely it very nise to you !</marquee>
    </div>